h1,h2,h3,h5 {
    font-family: 'Taviraj', serif;
    color: #b80236;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a{
    color: lightblue;
}



#map {
   height: 150px;
    /*width: 300px;*/
}


#expo-img{
    width: inherit;
    height: inherit;
    margin-top: -15px;
}

#form-section{
    padding-bottom: 10px;
    padding-top: 50px;
}

#section-1{
    padding-top: 60px;

}

.confirm{
    background-color: #b80236;
    font-weight: bolder;
}

#section-5{
    background-color: darkgrey;
    border-top: solid thin black;
}

#profile,#logo-ecetech,#logo-systra, #anchors{
    display: none;

}

#canvas{
    background-color: #ffffff;
}

.date-place{
    color: black;
    font-weight: bold;
}



@media (min-width: 768px) {
    #anchors, #profile{
        display: initial;
    }

    p {
        font-size: 1.2em;
    }
}

@media (min-width:992px) {
    #logo-ecetech, #logo-systra{
        display: initial;
    }
    
}

@media (min-width: 1200px) {
    h1{
        font-size: 1.7em;
    }
    p{
        font-size: 1.5em;
    }
}